
target/
**/target/
*.class
*.jar
*.war
*.ear
*.original

# Maven compiler plugin status files
.mvn/
**/maven-status/
**/maven-compiler-plugin/
*.lst

### =========================
### Eclipse
### =========================
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
.pydevproject
.cproject
.autotools
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
.apt_generated/
.apt_generated_test/
.cache-main
.scala_dependencies
.worksheet

# Optional
#.project

### =========================
### IntelliJ
### =========================
.idea/
*.iml
out/
gen/

### =========================
### OS / Misc
### =========================
.DS_Store
Thumbs.db
